---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full flex flex-col lg:gap-24 gap-12 lg:mb-36">
    <span
      class="w-full flex items-center justify-center text-header lg:text-6xl text-4xl font-bold text-primary tracking-wider mt-8"
      >About Us</span
    >

    <div
      class="flex lg:flex-row flex-col justify-between text-primary items-center"
    >
      <div class="flex flex-col gap-4 lg:w-[70%] w-[90%]">
        <span class="lg:text-5xl text-3xl font-semibold">
          An intelligent learning path that
        </span>

        <span class="lg:text-2xl text-xl ">
          inspires and Engages At SproutJourney, we believe that every child
          learns differently, which is why we've developed an AI-powered
          platform that adapts to each student's pace and learning style. Our
          intelligent learning path combines interactive storytelling, critical
          thinking challenges, and personalized guidance to help children truly
          understand the subjects they are studying. With Eli the Elephant
          leading the way, children learn ethics, social values, and more in a
          fun, immersive environment that encourages curiosity and growth.
        </span>
      </div>

      <img src="/about/img1.png" alt="" class="lg:w-[40rem] lg:h-[30rem] p-4" />
    </div>

    <div
      class="bg-[#E5E9E8] flex flex-col items-center justify-center py-12 gap-8"
    >
      <span class="lg:text-5xl text-3xl font-semibold"> Who Are We </span>

      <span class="lg:text-2xl text-xl lg:w-[70%] w-[90%]">
        We are a passionate team of educators, technologists, and innovators
        committed to reshaping how children learn. Our goal is simple—solve the
        problem of disengaged, one-size-fits-all education by making learning
        more interactive, adaptive, and exciting. SproutJourney was born out of
        a deep desire to help children develop critical life skills through fun,
        story-driven learning. We're driven by a shared vision: to create a
        platform where learning becomes an enjoyable, personalized experience
        for every child.
      </span>
    </div>

    <div
      class="flex lg:flex-row flex-col justify-between text-primary items-center"
    >
      <div class="relative">
        <div class="lg:w-[30rem] lg:h-[40rem] bg-[#E5E9E8] lg:flex hidden">
        </div>
        <img
          src="/about/img2.png"
          alt=""
          class="lg:h-[40rem] lg:w-[30rem] p-4 lg:absolute lg:top-20 lg:left-20"
        />
      </div>

      <div class="flex flex-col gap-4 lg:w-[70%] w-[90%] lg:ml-40">
        <span class="lg:text-5xl text-3xl font-semibold">
          An intelligent learning path that
        </span>

        <span class="lg:text-2xl text-xl">
          inspires and Engages At SproutJourney, we believe that every child
          learns differently, which is why we've developed an AI-powered
          platform that adapts to each student's pace and learning style. Our
          intelligent learning path combines interactive storytelling, critical
          thinking challenges, and personalized guidance to help children truly
          understand the subjects they are studying. With Eli the Elephant
          leading the way, children learn ethics, social values, and more in a
          fun, immersive environment that encourages curiosity and growth.
        </span>
      </div>
    </div>

    <div
      class="flex lg:flex-row flex-col justify-between text-primary items-center"
    >
      <div class="flex flex-col gap-4 lg:w-[70%] w-[90%] lg:mr-40">
        <span class="lg:text-5xl text-3xl font-semibold"> Our Vision </span>

        <span class="lg:text-2xl text-xl">
          is to revolutionize education by using AI to create individualized,
          engaging learning paths for every child. We aim to empower children to
          not only learn faster but to think critically, solve problems
          creatively, and develop a lifelong love of learning. We believe that
          by providing tools like Eli the Elephant, we can spark curiosity,
          foster empathy, and equip the next generation with the skills they
          need to navigate an increasingly complex world
        </span>
      </div>

      <div class="relative">
        <div class="lg:w-[30rem] lg:h-[40rem] bg-[#E5E9E8] lg:flex hidden">
        </div>
        <img
          src="/about/img3.png"
          alt=""
          class="lg:h-[40rem] lg:w-[30rem] p-4 lg:absolute lg:top-20 lg:right-20"
        />
      </div>
    </div>
  </main>
</Layout>
