<footer
  class="w-full text-white lg:p-12 p-4 flex flex-col"
  style="background-color: rgb(224, 89, 42);"
>
  <div class="flex lg:flex-row flex-col justify-around lg:gap-12 gap-4">
    <span class="font-heroeau lg:text-4xl text-lg tracking-widest font-bold"
      >Sprout Journey</span
    >
    <div class="flex flex-col gap-2 lg:gap-4 items-start flex-1">
      <span class="text-body lg:text-3xl text-lg font-black"
        >Take Action</span
      >
      <div class="border-t-2 w-full"></div>
      <a href="/join" class="lg:text-wxl text-lg lg:text-2xl font-normal text-body">
        Join Our Alpha Program
      </a>
    </div>
    <div class="flex flex-col gap-2 lg:gap-4 items-start flex-1">
      <span class="text-body lg:text-3xl text-lg font-black">Learn</span>
      <div class="border-t-2 w-full"></div>
      <a href="/about" class="lg:text-2xl text-xl font-normal text-body">
        About Us
      </a>
      <a href="/careers" class="lg:text-2xl text-lg font-normal text-body">
        Careers
      </a>
    </div>
    <div class="flex flex-col gap-2 lg:gap-4 items-start flex-1">
      <span class="text-body lg:text-3xl text-lg font-black">Connect</span>
      <div class="border-t-2 w-full"></div>
      <a href="/contact" class="lg:text-2xl text-lg font-normal text-body">
        Contact us
      </a>
      <span class="lg:text-2xl text-lg font-normal text-body"> +91 8114370886 </span>
      <span class="lg:text-2xl text-lg font-normal text-body">
        info@sproutjourney.in
      </span>
      <a href="/privacy" class="lg:text-2xl text-lg font-normal text-body">
        privacy policy
      </a>
    </div>
  </div>
  <div class="flex flex-col items-center justify-start">
    <a href="/privacy" class="text-center lg:text-2xl text-lg md:pt-0 pt-6">&copy; SproutJourney, 2024</a
    >
  </div>
</footer>
